.login_nav
{
    text-decoration: none;
    width: 100%;
    height: auto;
    color: black;
    position: fixed;
    z-index: 10;
    background: white;
    text-align: right;
    padding: 2px;
}

.login_nav_wrapper
{
  display: flex;
}

.logo
{
  width: 10%;
  text-align: center;
}

.menuContent
{
  width: 90%;
  padding: 30px;
}

.login_nav_wrapper a{
  color:  black;
}

.login_option:hover
{
    border-width: 2px;
    border-bottom: solid;
}