@media only screen and (max-width: 1242px) {

    .login_nav .login_nav_wrapper
    {
        display: block;
    }

    .login_nav .login_nav_wrapper .logo{
        width: 100%;
    }

    .login_nav .login_nav_wrapper .login_search{
        width: 100%;
        padding: 10px;
    }

    .login_nav .login_nav_wrapper .menuContent{
        width: 100%;
        padding: 10px;
    }

    .login_nav .login_nav_wrapper .menuContent .login_option{
        padding: 15px;
    }

    .search_caresoleWrapper .login_Searchcaresole
    {
        margin-top: 180px;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .search_caresoleWrapper .login_Searchcaresole .new_contentWraper
    {
        width: 167px;
        height: 268px;
    }

    .contact-footer
    {
        padding-top: 0px;
        margin-top: 0px;
    }

    .contact-footer h2
    {
        margin: 0px;
    }

    /*     private route Menu */
    .login_nav .login_nav_wrapper .login_private_menuContent
    {
        width: 100%;
        padding: 10px;
    }

    .login_nav .login_nav_wrapper .login_private_menuContent .login_option
    {
        padding: 10px;
    }

    .menuText
    {
        display: none;
    }

    .login_private_menuContent
    {
        width: 100%;
        text-align: center;
    }

    .Homepage_mainContainer .homePage_content_container_morecontent .homePage_content_container_morecontent_wrapper
    {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 20px;
    }

    .Homepage_mainContainer .homePage_content_container_morecontent .homePage_content_container_morecontent_wrapper .caresoleWrapper-homepage .Searchcaresole
    {
        padding-left: 0px;
        padding-right: 0px;
    }

    .Homepage_mainContainer .homePage_content_container_morecontent .homePage_content_container_morecontent_wrapper .caresoleWrapper-homepage .Searchcaresole .new_contentWraper
    {
        width: 148px;
        height: 215px;
    }




    .login_body
    {
        display: grid;
    }

    .login_left
    {
        width: 100%;
    }

    .login_left_outer_container {
        width: 90%;
        margin-left: 5%;
        margin-top: 5%;
    }

    .login_right
    {
        width: 100%;
    }

    .navbar_menu
    {
        text-align: center;
    }


    .login_right_outer_container
    {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }

    /* ************************singup******************************* */
    .signup_body
    {
        display: grid;
    }

    .signup_left
    {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .signup 
    {
        margin-bottom: 5%;
    }

    .signup_left_outer_container
    {
        width: 100%;
        margin-left: 2%;
        margin-top: 2%;
    }

    .signup_right
    {
        width: 100%;
    }

    .signup_right_outer_container
    {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: 2%;
    }

    .signup_right_inner_container
    {
        padding: 30px;
    }

    /* ------------------------------Homepage ----------------*/
    .search_home_main_header
    {
        display: table;
    }

    .mainContaineerImg
    {
        margin-top: 10%;
        margin-left: 10%;
    }

    .search_home_main_header_left
    {
        width: 91%;
        height: auto;
        text-align: center;
    }

    .main_header_left_content
    {
        width: 100%;
    }


    .userinfo_title
    {
        display: none;
    }

    .update_userinfo_detail
    {
        width: 100%;
    }

    .searchContent
    {
        margin-left: 14%;
    }

    /* ---------------------popup ----------------------- */

    .popUp_img_container .popup_title
    {
        width: 100%;
        text-align: center;
    }

    .modal
    {
        padding-top: 10px;
    }

    .caresole_image_wrapper .caresole_image_wrapper_container .popup_image
    {
        max-height:300px ;
    }

    .caresole_popup_container h1
    {
        margin: 0px;
        font-size: 20px;
    }

    .popup_content_wraper nav
    {
        padding: 10px;
    }

    .contentWraper_episode_content .episode_link .caresoleImage_episode
    {
        width: 100px;
        height: 110px;
    }

    .caresole_popup_container p
    {
        width: 100%;
    }

    .caresole_episode_desc .noMargin
    {
        font-size: 15px;
        text-align: left;
    }

    .contentWraperSimilar
    {
        width: 90px;
    }

    .contentWraperSimilar .caresoleImage_similar_class
    {
        max-height: 120px;
        min-height: 120px;
    }

    .contentWraperSimilar h3
    {
        font-size: 12px;
        font-weight: lighter;
    }


    /* -----------------------------------------Browse --------------------------------------*/

    .browsePage-content
    {
        padding-top: 140px;
        width: 100vw;
        height: auto;
        overflow: hidden;
    }

    .caresole .new_contentWraper
    {
        width: 150px;
        height: 230px;
    }

    .caresoleWrapper .caresole 
    {
        padding: 10px;
    }

    .description_text .caresole_title
    {
        font-size: 12px;
    }


    .tag_wrapper i p{
        font-size: 10px
    }


   /* --------------------- profile ---------------------------------- */

    .userprofile_main_container .user_info_container
    {
        padding-top: 126px;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }


    .userinfo_detail .popUp_img_container{
        font-size: 12px;
    }


    /* --------------------------------------- search  */

    .search
    {
        margin-top: 130px;
        border-radius: 4rem;
        padding: 5px 10px 5px 10px;
        outline: none;
        font-size: 15px;
        font-weight: lighter;
    }

    .Searchcaresole .new_contentWraper
    {
        width: 150px;
        height: 200px;
    }



    .upload_container .classinfo
    {
        margin-top: 135px;
        padding: 0px;
        width: 90vw;
        margin-left: 5%;
        margin-right: 5%;
    }

    .upload_container .classinfo .uploadSubMenu
    {
        display: block;
    }

    .classinfo_container .classinfo .uploadSubMenu .uploadSubMenu_option
    {
        width: 100%;
        padding: 10px;
    }

    .creat_class_content_wrapper .create_class_inpute_wrapper{
        display: block;
    }

    .content_create_class #classDescription
    {
        width: 250px;
        height: 200px;
        max-width: 280px;
    }

    .class_cover_upload_container
    {
        padding: 20px;
    }

    .classCoverPic
    {
        margin-top: 20px;
    }

    .reqired_section .uploadSection_text
    {
        padding: 10px;
    }
    
    #section_name
    {
        margin-bottom: 10px;
    }

    .reqired_section .display_content 
    {
        display: block;
    }

    .display_content .content_one
    {
        width: 100%;
    }

    .display_content .content_two
    {
        width: 100%;
    }

    .display_content .content_three
    {
        width: 100%;
    }

    .reqired_section .uploadSection_text #section_description
    {
        max-width: 300px;
    }

    .addedSectionList .listofSection_holder
    {
        display: block;
    }

    .listofSection_holder .section_video
    {
        width: 100%;
    }

    .listofSection_holder .section_text
    {
        width: 100%;
        text-align: center;
    }

    .listofSection_holder .section_text h4 
    {
        margin: 0px;
    }

    .listofSection_holder .section_text p
    {
        margin: 0px;
    }







    .styles_overlay__CLSq-
    {
        padding: 0%;
    }


    .styles_modal__gNwvD 
    {
        padding: 0rem;
    }
    .styles_modal__gNwvD {
        max-width: 90%;
        max-height: auto;
    }

    .caresole_wrapper
    {
        display: contents;
    }

    .caresole_image_wrapper
    {
        width: 100%;
    }

    .caresole_popup_container
    {
        width: 100%;
        text-align: center;
    }

  


    .search_home_main_container
    {
        height: auto;
    }

    .caresoleImage_episode
    {
        width: 100px;
        height: 150px;
    }

    .episode_link
    {
        width: 100px;
    }

    /* video player */
    .Video_container
    {
        display: inline;
    }

    .video_warpper
    {
        width: 100%;
    }
    .react-player
    {
        width: 100%;
    }

    .NextVideo_container_wrapper
    {
        width: 100%;
    }

    .caresole_episode_desc
    {
        width: 100%;
    }

    .left
    {
        display: none;
    }

    .modal-content
    {
        width: 90%;
    }

    .model_container 
    {
        width: 100%;
    }

    .close{
        position: absolute;
        padding: 20px;
    }



}


@media only screen and  (max-width: 13400px)
{
    .caresoleImage_episode
    {
        height: intrinsic;
    }

    
}
